<section class="h-100 gradient-custom-2">
  <div class="card">
    <div class="rounded-top text-white d-flex flex-row" style="background-color: #000; height:200px;">
      <div class="ms-4 mt-5 d-flex flex-column" style="width: 150px;">
        <img src="avatar.jpg" alt="Avatar" class="img-fluid img-thumbnail mt-4 mb-2" style="width: 150px; z-index: 1">
      </div>
      @if(show_change_name){
      <div class="ms-3" style="margin-top: 80px;">
        <form id="changeNameForm" [formGroup]="name_form" (submit)="updateUserName()">
          <div class="mb-3">
            <input type="text" class="form-control" id="newName" placeholder="username" formControlName="name"
              formControlName="name" required>
          </div>
          <div class="d-flex flex-row">
            <button type="submit" class="btn btn-info text-white w-100 me-1">Save</button>
            <button class="btn btn-danger text-white w-100 ms-1" (click)="toggleChangeName()">Cancel</button>
          </div>
        </form>
      </div>
      }@else {
      <div class="ms-3" style="margin-top: 130px;">
        <div class="d-flex flex-row">
          <h5> {{user == null ? "": user.name }} </h5>
          <button class="ms-2" (click)="toggleChangeName()" style="background: none; border: none;">
            <img src="edit.svg" height="20px">
          </button>
        </div>
        <p>Online</p>
      </div>
      }
    </div>
    <div class="p-4 text-black bg-body-tertiary">
      <div class="d-flex justify-content-end text-center py-1 text-body">
        <div>
          <p class="mb-1 h5"> {{user == null ? "": user.owned_games }} </p>
          <p class="small text-muted mb-0">Total</p>
        </div>
        <div class="px-3">
          <p class="mb-1 h5"> {{user == null ? "": user.completed_games }} </p>
          <p class="small text-muted mb-0">Completed</p>
        </div>
      </div>
    </div>
    <div class="card-body p-4 text-black">
      <div class="mb-5  text-body">
        <p class="lead fw-normal mb-1">About</p>
        <div class="p-4 bg-body-tertiary">
          <p class="font-italic mb-1"> {{user == null ? "": user.about }} </p>
        </div>
      </div>
      <div class="d-flex justify-content-between align-items-center mb-4 text-body">
        <p class="lead fw-normal mb-0">Library</p>
      </div>
      <div style="display:flex; flex-wrap: wrap; justify-content: center;">
        @if (owned_games.length > 0) {
        @for (item of owned_games; track item.reference) {
        <app-card [game_data]="item"></app-card>
        }
        }@else{
        <h3>There are no games on you library</h3>
        }
      </div>
    </div>
  </div>
</section>