<div class="container-fluid mt-4">
    <div class="row">
        <div class="col">
            <h4 class="pb-2 border-bottom">Mejor vendidos</h4>
            @for (item of best_selling_games; track item.id) {
            <app-sections-card [game_data]="item"></app-sections-card>
            } @empty {
            <p>Sin juegos para mostrar :c.</p>
            }
        </div>
        <div class="col">
            <h4 class="pb-2 border-bottom">Novedades</h4>
            @for (item of new_games; track item.id) {
            <app-sections-card [game_data]="item"></app-sections-card>
            } @empty {
            <p>Sin juegos para mostrar :c.</p>
            }
        </div>
    </div>
</div>